body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100vh;
  padding: 32px;
  box-sizing: border-box;

  background-color: lightgray;
}

.chatroom {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  max-width: 800px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  border-radius: 16px;

  background-color: white;
}

.chatroom-header {
  padding: 16px 24px;
  border-bottom: 1px solid lightgray;
}

.chatroom-header h1 {
  margin: 0;
}

.chatroom-content {
  flex: 1;
  padding: 32px 24px 16px;
  overflow-y: auto;
}

.chatroom-content .message {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}

.chatroom-content .message .message-avatar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(45deg, lightgray, darkgray);

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.chatroom-content .message .message-content {
  max-width: 60%;
  padding: 8px 16px;
  border-radius: 4px;

  font-size: 14px;
  line-height: 20px;
  color: black;
}

.chatroom-content .message[data-role="visitor"] {
  flex-direction: row;
}

.chatroom-content .message[data-role="visitor"] .message-content {
  background-color: cornsilk;
}

.chatroom-content .message[data-role="user"] {
  flex-direction: row-reverse;
}

.chatroom-content .message[data-role="user"] .message-content {
  background-color: skyblue;
}

.chatroom-content .message .message-time {
  display: none;
  align-self: flex-end;
  padding: 8px;
  font-size: 12px;
  color: lightgray;
}

.chatroom-footer {
  padding: 16px 24px;
  border-top: 1px solid lightgray;
}

.chatroom-footer textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;

  line-height: 1.6;
  font-size: 14px;

  resize: none;
}

.login-modal {
  border-radius: 8px;
  padding: 32px;
  border: none;
}

.login-modal h2 {
  margin: 0 0 16px;
}

.login-modal form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.login-modal button {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
  user-select: none;
}

.login-modal button:active {
  background-color: lightgray;
}

.login-modal input {
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.login-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}